/* Footer.css */

.footer {
  background-color: #ff8c01; /* Same color as Navbar #ff8c00 */
  color: #ffffff;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); /* Shadow on top */
}

.footer a {
  color: #ffffff;
  text-decoration: underline;
  transition: color 0.2s ease;
}

.footer a:hover {
  color: #ffd700; /* Similar hover effect as the links in Navbar */
}

@media (max-width: 480px) {
  .footer {
    padding: 5px;
  }

  .footer p {
    font-size: 0.8rem; /* Adjusted font size for smaller screens */
  }
}